<?xml version="1.0"?>
<config>
    <modules>
        <Studio45_Signifyresponse>
            <version>0.1.0</version>
        </Studio45_Signifyresponse>
    </modules>
    <frontend>
        <routers>
            <signifyresponse>
                <use>standard</use>
                <args>
                    <module>Studio45_Signifyresponse</module>
                    <frontName>signifyresponse</frontName>
                </args>
            </signifyresponse>
        </routers>
        <layout>
            <updates>
                <signifyresponse>
                    <file>signifyresponse.xml</file>
                </signifyresponse>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
 		    <signifyresponse>
				<use>admin</use>
				<args>
					<module>Studio45_Signifyresponse</module>
					<frontName>signifyresponse</frontName>
				</args>
			</signifyresponse>
        </routers>
    </admin>
    <adminhtml>
	
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Studio45_Signifyresponse>
							<title>Signifyresponse Module</title>
							<sort_order>10</sort_order>
						</Studio45_Signifyresponse>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<signifyresponse>
					<file>signifyresponse.xml</file>
				</signifyresponse>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <signifyresponse>
                <class>Studio45_Signifyresponse_Model</class>
                <resourceModel>signifyresponse_mysql4</resourceModel>
            </signifyresponse>
            <signifyresponse_mysql4>
                <class>Studio45_Signifyresponse_Model_Mysql4</class>
                <entities>
                    <signifyresponse>
                        <table>signifyresponse</table>
                    </signifyresponse>
                </entities>
            </signifyresponse_mysql4>
        </models>
        <resources>
            <signifyresponse_setup>
                <setup>
                    <module>Studio45_Signifyresponse</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </signifyresponse_setup>
            <signifyresponse_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </signifyresponse_write>
            <signifyresponse_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </signifyresponse_read>
        </resources>
        <blocks>
            <signifyresponse>
                <class>Studio45_Signifyresponse_Block</class>
            </signifyresponse>
        </blocks>
        <helpers>
            <signifyresponse>
                <class>Studio45_Signifyresponse_Helper</class>
            </signifyresponse>
        </helpers>
    </global>
</config>